@{
    ViewData["Title"] = "Acerca de";
}
<h2>Acerca de</h2>
<h3>SCORPIO</h3>

<p>
    El Sistema de Control, Organización, Recopilación y Procesamiento de la Información Operativa (SCORPIO por sus siglas) tiene como objetivo principal :
    Sistematizar el proceso de la obtención de la información dentro de la Dirección General de Ejecución de Penas, para unificar los procesos de evaluación, supervisión y seguimiento de las personas que cuentan con una medida o condición.
</p>

<img src="~/images/logo.png" class="img-responsive">
