#titulo, footer, #impresion, #header, #QRForm, #fangle {
    display: none !important;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:relative
}

#impresionLogo {
    display: inline;
    width:10%;
    height:10%;
}

#imprimirQR {
    width: 30%;
    height: 30%;
}