@model scorpioweb.Models.Domicilio

@{
    ViewData["Title"] = "EditDomicilio";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Domicilio</h2>
<h3>@ViewData["Nombre"]</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDomicilio">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDomicilio" />
            <div class="form-group">
                <label asp-for="TipoDomicilio" class="control-label"></label>
                <input asp-for="TipoDomicilio" class="form-control" />
                <span asp-validation-for="TipoDomicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No" class="control-label"></label>
                <input asp-for="No" class="form-control" />
                <span asp-validation-for="No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoUbicacion" class="control-label"></label>
                <input asp-for="TipoUbicacion" class="form-control" />
                <span asp-validation-for="TipoUbicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCf" class="control-label"></label>
                <input asp-for="NombreCf" class="form-control" />
                <span asp-validation-for="NombreCf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <input asp-for="Municipio" class="form-control" />
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temporalidad" class="control-label"></label>
                <input asp-for="Temporalidad" class="form-control" />
                <span asp-validation-for="Temporalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResidenciaHabitual" class="control-label"></label>
                <input asp-for="ResidenciaHabitual" class="form-control" />
                <span asp-validation-for="ResidenciaHabitual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cp" class="control-label"></label>
                <input asp-for="Cp" class="form-control" />
                <span asp-validation-for="Cp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referencias" class="control-label"></label>
                <input asp-for="Referencias" class="form-control" />
                <span asp-validation-for="Referencias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomcilioSecundario" class="control-label"></label>
                <input asp-for="DomcilioSecundario" class="form-control" />
                <span asp-validation-for="DomcilioSecundario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaIdPersona" class="control-label"></label>
                <input asp-for="PersonaIdPersona" class="form-control" />
                <span asp-validation-for="PersonaIdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MenuEdicion" asp-route-id="@Model.PersonaIdPersona">Regresar</a>
</div>



