@model scorpioweb.Models.Saludfisica

@{
    ViewData["Title"] = "Edit";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Salud Física</h2>
<h3>@ViewData["Nombre"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSalud">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSaludFisica" />
            <div class="form-group">
                <label asp-for="Enfermedad" class="control-label"></label>
                <input asp-for="Enfermedad" class="form-control" />
                <span asp-validation-for="Enfermedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspecifiqueEnfermedad" class="control-label"></label>
                <input asp-for="EspecifiqueEnfermedad" class="form-control" />
                <span asp-validation-for="EspecifiqueEnfermedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmbarazoLactancia" class="control-label"></label>
                <input asp-for="EmbarazoLactancia" class="form-control" />
                <span asp-validation-for="EmbarazoLactancia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tiempo" class="control-label"></label>
                <input asp-for="Tiempo" class="form-control" />
                <span asp-validation-for="Tiempo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tratamiento" class="control-label"></label>
                <input asp-for="Tratamiento" class="form-control" />
                <span asp-validation-for="Tratamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discapacidad" class="control-label"></label>
                <input asp-for="Discapacidad" class="form-control" />
                <span asp-validation-for="Discapacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspecifiqueDiscapacidad" class="control-label"></label>
                <input asp-for="EspecifiqueDiscapacidad" class="form-control" />
                <span asp-validation-for="EspecifiqueDiscapacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicioMedico" class="control-label"></label>
                <input asp-for="ServicioMedico" class="form-control" />
                <span asp-validation-for="ServicioMedico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspecifiqueServicioMedico" class="control-label"></label>
                <input asp-for="EspecifiqueServicioMedico" class="form-control" />
                <span asp-validation-for="EspecifiqueServicioMedico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstitucionServicioMedico" class="control-label"></label>
                <input asp-for="InstitucionServicioMedico" class="form-control" />
                <span asp-validation-for="InstitucionServicioMedico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaIdPersona" class="control-label"></label>
                <input asp-for="PersonaIdPersona" class="form-control" />
                <span asp-validation-for="PersonaIdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MenuEdicion" asp-route-id="@Model.PersonaIdPersona">Regresar</a>
</div>