@model scorpioweb.Models.Trabajo

@{
    ViewData["Title"] = "EditTrabajo";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Trabajo</h2>
<h3>@ViewData["Nombre"]</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTrabajo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTrabajo" />
            <div class="form-group">
                <label asp-for="Trabaja" class="control-label"></label>
                <input asp-for="Trabaja" class="form-control" />
                <span asp-validation-for="Trabaja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoOcupacion" class="control-label"></label>
                <input asp-for="TipoOcupacion" class="form-control" />
                <span asp-validation-for="TipoOcupacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puesto" class="control-label"></label>
                <input asp-for="Puesto" class="form-control" />
                <span asp-validation-for="Puesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpledorJefe" class="control-label"></label>
                <input asp-for="EmpledorJefe" class="form-control" />
                <span asp-validation-for="EmpledorJefe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnteradoProceso" class="control-label"></label>
                <input asp-for="EnteradoProceso" class="form-control" />
                <span asp-validation-for="EnteradoProceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SePuedeEnterar" class="control-label"></label>
                <input asp-for="SePuedeEnterar" class="form-control" />
                <span asp-validation-for="SePuedeEnterar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoTrabajano" class="control-label"></label>
                <input asp-for="TiempoTrabajano" class="form-control" />
                <span asp-validation-for="TiempoTrabajano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemporalidadSalario" class="control-label"></label>
                <input asp-for="TemporalidadSalario" class="form-control" />
                <span asp-validation-for="TemporalidadSalario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaIdPersona" class="control-label"></label>
                <input asp-for="PersonaIdPersona" class="form-control" />
                <span asp-validation-for="PersonaIdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MenuEdicion" asp-route-id="@Model.PersonaIdPersona">Regresar</a>
</div>

