@model scorpioweb.Models.Abandonoestado

@{
    ViewData["Title"] = "EditAbandonoEstado";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Abandono Estado</h2>
<h3>@ViewData["Nombre"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAbandonoEstado">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAbandonoEstado" />
            <div class="form-group">
                <label asp-for="VividoFuera" class="control-label"></label>
                <input asp-for="VividoFuera" class="form-control" />
                <span asp-validation-for="VividoFuera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LugaresVivido" class="control-label"></label>
                <input asp-for="LugaresVivido" class="form-control" />
                <span asp-validation-for="LugaresVivido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoVivido" class="control-label"></label>
                <input asp-for="TiempoVivido" class="form-control" />
                <span asp-validation-for="TiempoVivido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoVivido" class="control-label"></label>
                <input asp-for="MotivoVivido" class="form-control" />
                <span asp-validation-for="MotivoVivido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViajaHabitual" class="control-label"></label>
                <input asp-for="ViajaHabitual" class="form-control" />
                <span asp-validation-for="ViajaHabitual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LugaresViaje" class="control-label"></label>
                <input asp-for="LugaresViaje" class="form-control" />
                <span asp-validation-for="LugaresViaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoViaje" class="control-label"></label>
                <input asp-for="TiempoViaje" class="form-control" />
                <span asp-validation-for="TiempoViaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoViaje" class="control-label"></label>
                <input asp-for="MotivoViaje" class="form-control" />
                <span asp-validation-for="MotivoViaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentacionSalirPais" class="control-label"></label>
                <input asp-for="DocumentacionSalirPais" class="form-control" />
                <span asp-validation-for="DocumentacionSalirPais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pasaporte" class="control-label"></label>
                <input asp-for="Pasaporte" class="form-control" />
                <span asp-validation-for="Pasaporte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visa" class="control-label"></label>
                <input asp-for="Visa" class="form-control" />
                <span asp-validation-for="Visa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamiliaresFuera" class="control-label"></label>
                <input asp-for="FamiliaresFuera" class="form-control" />
                <span asp-validation-for="FamiliaresFuera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuantos" class="control-label"></label>
                <input asp-for="Cuantos" class="form-control" />
                <span asp-validation-for="Cuantos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaIdPersona" class="control-label"></label>
                <input asp-for="PersonaIdPersona" class="form-control" />
                <span asp-validation-for="PersonaIdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MenuEdicion" asp-route-id="@Model.PersonaIdPersona">Regresar</a>
</div>