
@{
    ViewData["Title"] = "Medidas Cautelares y Suspensión Condicional del Proceso";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{ bool adminUser=false;}

@foreach (var item in ViewBag.RolesUsuario)
{
    if (item == "AdminMCSCP")
    {
        adminUser=true;
    }
}

<div class=" card-group" style="padding-top:2%">
    @if (adminUser)
    {
        <div class="col-md-4 card text-center">
            
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Personas" asp-action="AsignacionSupervision">
                        <img class="card-img-top" src="~/images/asignacion.png" alt="Card image cap" style="padding-bottom:5%;" />
                        Asignación de supervisión
                     </a>
                </h4>
                <p class="card-text">
                    Asignación de nuevas supervisiónes
                </p>
            </div>
        </div>
    }
    <div class="col-md-4 card text-center">        
        <div class="card-body">
            <h4 class="card-title">
                @if (adminUser)
                {
                    <a asp-controller="Personas" asp-action="Index">
                        <img class="card-img-top" src="~/images/persona.png" alt="Card image cap" style="padding-bottom:5%;"> 
                        Supervisados
                    </a>
                }
                else
                {
                    <a asp-controller="Personas" asp-action="ListadoSupervisor">
                        <img class="card-img-top" src="~/images/persona.png" alt="Card image cap" style="padding-bottom:5%;">
                        Supervisados
                    </a>
                }
            </h4>
            <p class="card-text">
                Base de datos de todos los supervisados
            </p>
        </div>
    </div>
    <div class="col-md-4 card text-center">
        <div class="card-body">
            <h4 class="card-title">                
                <a href="#">
                    <img class="card-img-bottom" src="~/images/growth.png" alt="Card image cap" style="padding-bottom:5%;">
                    Indicadores
                </a>
            </h4>
            <p class="card-text">
                Indicadores relevantes de la supervisión de la Coordinación de Medidas Cautelares y Suspensión Condicional del Proceso
            </p>
        </div>
    </div>
</div>

