@model EditRoleViewModel

@{
    ViewData["Title"] = "EditRole";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Editar Rol</h1>

<form method="post" asp-action="EditRole">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a asp-action="ListRoles" class="btn btn-primary">Cancelar</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Usuarios con este rol</h3>
        </div>
        <div class="card-body">
            @if (Model.Users.Any())
            {
                foreach(var user in Model.Users)
                {
                    <h5 class="card-title">@user</h5>
                }
            }
            else
            {
                <h5 class="card-title">Sin usuarios en este rol</h5>
            }
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Agregar usuario</a>
            <a href="#" class="btn btn-primary">Borrar usuario</a>
        </div>
    </div>
</form>